{% extends 'CMS/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% endif %}
        <img src="../../media/{{ post.asset }}" style="max-width:100%"><br> 
        ../../media/{{ post.asset }}
        <h1>{{ post.title }}</h1>
        
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}