{% extends 'CMS/base.html' %}

{% block content %}
	
        <div class="container">

		  <h2>Onsite SKUS</h2>
		  <p>We welcome you to the merchandising team newsletter. Keep abreast of all North America eCommerce updates and changes on-glass</p>
		  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

		  <table id="myTable" class="table table-striped">
		    <thead>
		      <tr class="header">
		        <th>Live Date</th>
		        <th>SKU Name</th>
		        <th>Series Name</th>
		        <th>Part Number</th>
		        <th>Article Number</th>
		        <th>Hard Drive</th>
		        <th>Screen Size</th>
		        <th>Price Tier</th>
		        <th>Brand</th>

		      </tr>
		    </thead>
		    <tbody>

		    {% for list in portfolio %}
		      <tr>
		        <td> {{ list.article.Series_Name }} </td>
		        <td> {{ list.live_date }}</td>
		        <td> {{ list.Friendly_Name }}</a></td>
		        <td> <a href="http://www3.lenovo.com/us/en/p/{{ list.SKU_Num }}">{{ list.Sku_Num }}</a></td>
		        <td> {{ list.article }} </td>
		        <td> {{ list.hd_choice }}GB </td>
		        <td> {{ list.ss_choice }} </td>
		        <td> {{ list.article.Brand_Type }} </td>
		      </tr>
		     {% endfor %}
		    </tbody>
		  </table>
		</div>
{% endblock %}

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>