{% load staticfiles %}

<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Master Merchandiser</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

		    <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <!--Post scroll dwnld -->
	    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

		<!-- native scripts -->
		<script type="text/javascript" src="/static/js/default.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/css/bootstrap.css"></script>


		<!-- Google Webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!-- Theme Style -->
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/lenovo.css">
		<!-- Menu Icon Style -->
		<link rel="stylesheet" href="/static/css/icomoon.css">

		<!-- Menu JS -->
		<script type="text/javascript" src="/static/default.js"></script>
	</head>
<body>
			<section>
			<div class="container-fluid">
			<div class="jumbotron">
			<div class="row">
			<div class="col-md-3 center">
<a href="/" title="Go Home Roger!">Home</a>
			</div>
			<div class="col-md-3 center">
<a href="/links/" title="Too many links to count! Here is a list of all the important ecommerce links!">Links</a>
			</div>
			<div class="col-md-3 center">
<a href="/product/sku_list/" title="SKU Level Products">Products by Model</a>
			</div>
			<div class="col-md-3 center">
<a href="/product/article_list/" title= "Updates for All Products - organized by Consumer, Commercial or all prouducts">Product Notes</a>
			</div>
			<div class="col-md-3 center">
<a href="#" title= "Merchandising Calendar">Calendar</a>
			</div>
			<div class="col-md-3 center">
<a href="#" title= "Repository for all Merchandising content">Merch Repo</a>
			</div>
			<div class="col-md-3 center">
<a href="#" title= "Found a bug? Help us out!">Submit a Bug</a>
			</div>
			</div>
			</div>
			</div>
			</section>

		<!-- Banner -->
			<section id="banner">

			  <div class="container-fluid">
				          <img src="/static/img/LenovoLogo.png" style="width:150px">
				          <br>
				          <br>   
			</div>
   			
  </div>
				<h2><strong>Merchandising Master</strong> is a source for all of your most pressing North American Merchandising News</h2>
				<p>Brought to you by the Merch Team</p>
				<ul class="actions">
					<li><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Meet The Team</button></li>
				</ul>

						<div id="demo" class="collapse">
			  			<br>
			  				<p>North American eCommerce - The best in the West.</p>
							<div class="row">
								<div class="col-md-3">
									<a href="mailto:webmaster@example.com" data-toggle="tooltip" title="Hooray"><img src="/static/img/piper_landrum.jpg" class="img-circle person" alt="Piper Landrum" style="width:150px"></a>
									<br><h4>Piper Landrum</h4> 
									<br><p><em>Sr. Manager, Web Merchandising</em></p><br>
								</div>
								<div class="col-md-3">
									<a href="#" data-toggle="tooltip" title="Hooray"><img src="/static/img/clarissa_araujo.jpg" class="img-circle person" alt="Clarissa Araujo" style="width:150px"></a>
									<br><h4>Clarissa Araujo</h4> 
									<br><p><em>SS&P & Outlet Merchandising Manager</em></p><br>
								</div>
								<div class="col-md-3">
									<img src="/static/img/nikki_dickens.jpg" class="img-circle person" alt="Nikki Dickens" style="width:150px">
									<br><h4>Nikki Dickens</h4> 
									<br><p><em>NA Web Merchandising Project Manager</em></p><br>
								</div>
								<div class="col-md-3">
									<img src="/static/img/jamie_kokiw.jpg" class="img-circle person" alt="Jamie Kokiw" style="width:150px">
									<br><h4>Jamie Kokiw</h4> 
									<br><p><em>Site & Optimization Merchandising Manager</em></p><br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<img src="/static/img/anita_sivakumar.jpg" class="img-circle person" alt="Anita Sivakumar" style="width:150px">
									<br><h4>Anita Sivakumar</h4> 
									<br><p><em>Creative Lead and Merchandising Manager</em></p><br>
								</div>
								<div class="col-md-3">
									<a href="mailto:webmaster@example.com" data-toggle="tooltip" title="Hooray"><img src="/static/img/susan_lowerre.jpg" class="img-circle person" alt="Susan Lowerre" style="width:150px"></a>
									<br><h4>Susan Lowerre</h4> 
									<br><p><em>Campaigns and UX Web Merchandising Manager</em></p><br>
								</div>
								<div class="col-md-3">
									<a href="#" data-toggle="tooltip" title="Hooray"><img src="/static/img/Dawn_Wages.jpg" class="img-circle person" alt="Dawn Wages" style="width:150px"></a>
									<br><h4>Dawn Wages</h4> 
									<br><p><em>Consumer Product Merchandising Manager</em></p><br>
								</div>
								<div class="col-md-3">
									<img src="/static/img/kim_lorenz.jpg" class="img-circle person" alt="Kim Lorenz" style="width:150px">
									<br><h4>Kim Lorenz</h4> 
									<br><p><em>Commercial Product Merchandising Manager</em></p><br>
								</div>
							</div>				
					</div>		
			</section>

			




		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Important Links</h2>
					</header>
					<div class="features">
						<div class="feature">
							<a href="https://cowork.us.extranet.lenovo.com/departments/nalenovodotcom/SitePages/Home.aspx" target="_blank"><i class="fa fa-diamond"></i>
							<h3>NA Ecomm Calendar</h3>
							<p>Overall North American Ecomm Calendar</p></a>
						</div>
						<div class="feature">
							<a href="https://app.teamweek.com/#p/ktkpgt9a1ibdooer9swn" target="_blank"><i class="fa fa-diamond"></i>
							<h3>NA Homepage Calendar</h3>
							<p>TeamWeek Calendar</p></a>
						</div>
						<div class="feature">
							<a href="https://docs.google.com/spreadsheets/d/1aUNQ6JZQWtnpuotDLf8odCrzK5Sb1-rKzZDfTuSQxaE/edit#gid=64325133" target="_blank"><i class="fa fa-file-excel-o"></i>
							<h3>Inventory Tracker - Google Doc</h3>
							<p>Inventory Tracker</p></a>
						</div>
						<div class="feature">
							<a href="https://docs.google.com/spreadsheets/d/161pA4KrhecM84lNvMt82tmfbIFSnj4plsCiZE6T6YT8/edit#gid=1212623706" target="_blank"><i class="fa fa-file-excel-o"></i>
							<h3>NA Articles - Google Doc</h3>
							<p>PMI Tracker</p></a>
						</div>
						<div class="feature">
							<a href="https://docs.google.com/presentation/d/1P2UziSDPx_UdZpKnYYZeiVN-DizgDVWQu5lndADmXrk/edit#slide=id.g14572d41fb_2_355" target="_blank"><i class="fa fa-file-powerpoint-o"></i>
							<h3>Creative Review - Google Doc</h3>
							<p>Creative Review</p></a>
						</div>
						<div class="feature">
							<a href="https://tools.sli-systems.com/sli_systems/stats/2285/login" target="_blank"><i class="fa fa-external-link"></i>
							<h3>SLI</h3>
							<p>SLI Search Bar</p></a>
						</div>
						<div class="feature">
							<a href="http://10.37.160.201/dotest/fBom.php?" target="_blank"><i class="fa fa-external-link"></i>
							<h3>Find BOM</h3>
							<p>Find BOM</p></a>
						</div>
						<div class="feature">
							<a href="http://10.37.86.51/mtmlookup/index.php" target="_blank"><i class="fa fa-external-link"></i></a>
							<h3>MTM Lookup</h3>
							<a href="http://10.37.86.51/mtmlookup/index.php" target="_blank"><p></i><p>Consumer Notebooks</p></a>
							<a href="http://10.37.86.51/mtmlookup_dt/index.php" target="_blank"><p></i><p>Consumer Desktops</p></a>
						</div>
					</div>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Lenovo Links</h2>
					</header>
					<div class="features">
						<div class="feature">
							<a href="https://www3.lenovo.com/ck/en/globalref/grmasterb2cstore/gatekeeper/showpage?toggle=PasscodeGatekeeper" target="_blank"><i class="fa fa-external-link"></i>
							<h3>Global Store Reference</h3>
							<p>Overall North American Ecomm Calendar</p></a>
						</div>
						<div class="feature">
							<a href="https://www3.lenovo.com/us/en/fpa/" target="_blank"><i class="fa fa-external-link"></i>
							<h3>FPA Affinity Site</h3>
							<p>Affinity Site</p></a>
						</div>
						<div class="feature">
							<a href="https://www3.lenovo.com/us/en/lenovousepp/" target="_blank"><i class="fa fa-external-link"></i>
							<h3>EPP Site</h3>
							<p>PW: STAR / SUPERSTAR</p></a>
						</div>
						<div class="feature">
							<a href="https://www3.lenovo.com/ca/en/ibmeppca/" target="_blank"><i class="fa fa-external-link"></i>
							<h3>IBM Gold Site</h3>
							<p>PW: IBMEPP</p></a>
						</div>
					</div>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Merchandising Team</h2>
					</header>
					<div class="features">
						<div class="feature">
							<a href="https://docs.google.com/presentation/d/1lHFrkVCj0sGKA3mIMIlLGMSKG4MjsCazYXh-kR7mgqE/edit#slide=id.p" target="_blank"><i class="fa fa-file-powerpoint-o"></i>
							<h3>Round Table</h3>
							<p>Merchandising Interlock Round Table Document</p></a>
						</div>
						<div class="feature">
							<a href="https://docs.google.com/spreadsheets/d/1g6M2hGq9r4rHt-w4GCbae1HefIokL7Dtfg6JYmjfh38/edit#gid=0" target="_blank"><i class="fa fa-file-excel-o"></i>
							<h3>Merchandising Calendar</h3>
							<p>Merchandising Calendar</p></a>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->

<div class="col-md-10 text-right">
	<!-- FORMS -->
	{% if user.is_authenticated %}
	<a href="{% url 'post_new' %}" class="top-menu" data-toggle"tooltip" title="Click to add new post"><span class="glyphicon glyphicon-plus"></span></a>
	<a href="{% url 'post_new' %}" class="top-menu" data-toggle"tooltip" title="Click to add new post"><h4>New Merch News?</h4></a>
	{% endif %}
		
</div>
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>MERCH NEWS</h2>
					</header>

					<div class="features">
					{% for post in posts %}
						<div class="feature">
							<img src="{{ post.Update_Choices }}" style="width:90%">
							<a href="https://docs.google.com/presentation/d/1lHFrkVCj0sGKA3mIMIlLGMSKG4MjsCazYXh-kR7mgqE/edit#slide=id.p" target="_blank">
							<h3>{{ post.title }}</h3>
							<em>{{ post.published_date }}</em>
							<p>{{ post.text|slice:":200"}}</p></a>
							<a href ="{% url 'post_detail' pk=post.pk %}" ><button type="button" class="btn btn-info">Info</button></a>
						</div>
					{% endfor %}
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Created and Maintained by NA Merchandising Team
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>
			
</body>


</html>
